name: Run examples

on: [push, pull_request]

env:
  CGO_ENABLED: 0

jobs:
  run-examples-macos:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15-intel, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: Build dynamic library
        run: |
          clang -shared -o libitem.dylib -fPIC examples/structs/item/item.c
          clang -shared -o libcallback.dylib -fPIC examples/closures/callback/callback.c
      - name: Run testable examples
        run: go test -v
      - name: Run examples
        run: |
          go run examples/simple/cos/main.go
          go run examples/varargs/libc/main.go
          go run examples/structs/item/main.go
          go run examples/closures/callback/main.go
  run-examples-windows:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-11-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: Install Zig
        run: choco install zig
      - name: Build dynamic library ARM64
        if: runner.arch == 'ARM64'
        run: |
          zig cc -shared -o item.dll -fPIC examples/structs/item/item.c -target aarch64-windows-gnu
          zig cc -shared -o callback.dll -fPIC examples/closures/callback/callback.c -target aarch64-windows-gnu
      - name: Build dynamic library AMD64
        if: runner.arch == 'X64'
        run: |
          zig cc -shared -o item.dll -fPIC examples/structs/item/item.c
          zig cc -shared -o callback.dll -fPIC examples/closures/callback/callback.c
      - name: Run testable examples
        run: go test -v
      - name: Run examples
        run: |
          go run examples/simple/cos/main.go
          go run examples/varargs/libc/main.go
          go run examples/structs/item/main.go
          go run examples/closures/callback/main.go
  run-examples-ubuntu:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: Build dynamic library
        run: |
          gcc -shared -o libitem.so -fPIC examples/structs/item/item.c
          gcc -shared -o libcallback.so -fPIC examples/closures/callback/callback.c
      - name: Run testable examples
        run: go test -v
      - name: Run examples
        run: |
          go run examples/simple/cos/main.go
          go run examples/varargs/libc/main.go
          go run examples/structs/item/main.go
          go run examples/closures/callback/main.go
